<section class="about">
  <div class="container">

    <div class="define">
      <h4>Maven</h4>
      <p>
        ma·ven <em><i>noun</i> \ˈmā-vən\</em>
      </p>
      <p>one who is experienced or knowledgeable; an expert.</p>
    </div>

    <p>
      Node Mavens is a place to show your appreciation for the experts of the
      node community. This is not a contest, rather a way to show some
      appreciation for people that have helped you by sharing their expertise.
    </p>

    <hr>

    <p>
      Check out the
      <a href="https://github.com/fiveisprime/nodemavens">source</a>.
    </p>
    <p>
      Built with all the love in the world by
      <a href="https://twitter.com/fivveisprime">@fiveisprime</a> in
      Cincinnati, OH.
    </p>
  </div>
</section>
