<section class="about">
  <div class="container">
    <div class="define">
      <h4>Maven</h4>
      <p>
        ma·ven <em><i>noun</i> \ˈmā-vən\</em>
      </p>
      <p>one who is experienced or knowledgeable; an expert.</p>
    </div>
    <p>
      Node Mavens is a place to show your appreciation for experts of the node
      community. This is not a contest, rather a way to show some appreciation
      for people that have helped you by sharing their expertise.
    </p>
  </div>
</section>
