<div id="love-form" style="display:none;"></div>
<div id="about-modal" style="display:none;"></div>
<div id="error-modal" style="display:none;"></div>
<section class="container cards clearfix">
  <h2 class="grid_12">Recent Mavens</h2>
  <div class="recent"></div>

  <h2 class="grid_12" style="margin-top:15px;">Most <i class="fa fa-heart"></i>'s</h2>
  <div class="top"></div>
</section>
