<section class="hero">
  <div class="container clearfix">
    
    <header class="grid_12 alpha">
      <h1>Node Mavens</h1>
      <h2>Who inspires you?</h2>
      <p>
        Let the world know about the node experts who inspire you and drive you
        to become a better <span class="strike">developer</span> person.
      </p>
    </header>
    
    <div class="grid_2 alpha">
      <a class="btn full" href="/#/about">About</a>
    </div>
    <div class="grid_2 omega">
      <a class="btn full accent" id="love" href="#">Spread Love</a>
    </div>
    
  </div>
</section>
<div id="love-form" style="display:none;"></div>
<section class="container featured"></section>
