<form class="cenetered">
  <p>
    Let's hear it! Who made your day today?
  </p>
  <p class="error" style="display:none;"></p>
  <input type="text" name="npm-user" value="" placeholder="npm username">
  <input type="submit" value="Send" class="btn accent">
</form>
