/* Variables */

:root {
  var-primary:     #F5F5F5;
  var-link:        #E33B7E;

  var-btn:         #403F3F;

  var-accent:      #E33B7E;
  var-accent-dark: #FF4290;

  var-btn-main:    #3EE49C;
  var-btn-dark:    #41FFAE;
}

/* Full width */

a {
  color: var(link);
  text-decoration: none;
}

a:visited {
  color: var(link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

em {
  font-weight: bold;
}

.btn {
  border: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 20px;
  line-height: normal;
  padding: 8px 10px;
  background-color: var(btn-main);
  color: var(btn);
}

.btn:hover {
  background-color: var(btn-dark);
}

a.btn:hover {
  text-decoration: none;
}
a.btn:visited {
  color: var(btn);
}

input[type="submit"] {
  margin-bottom: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

input[type="text"] {
  border: 1px solid #ccc;
  padding: 6px 4px;
  outline: none;
  font: 13px "Open Sans", sans-serif;
  color: #505050;
  margin: 0;
  width: 210px;
  max-width: 100%;
  display: inline-block;
  background-color: #fff;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

input[type="text"]:focus {
  border: 1px solid #aaa;
  color: #444;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
}

input[type="submit"] {
  color: #FFF;
}

.full {
  width: 85%;
  text-align: center;
}

.btn.accent {
  background-color: var(accent);
  min-width: 80px;
}

.btn.accent:hover {
  background-color: var(accent-dark);
}

.strike {
  text-decoration: line-through;
}

.hero {
  padding-top: 60px;
  height: 250px;
  background-color: #313030;
  color: var(primary);
}

.hero p {
  letter-spacing: 1px;
  text-shadow: 1px 1px 5px #000;
}

.hero h1 {
  margin-bottom: 10px;
  text-shadow: 1px 1px 5px #000;
}

.hero h2 {
  margin-top: 5px;
  color: #a36de0;
  text-shadow: 1px 1px 5px #000;
}

#love-form {
  position: fixed;
  top: 150px;
  left: 40%;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

#about-modal {
  position: fixed;
  background-color: #fff;
  width: 960px;
  top: 60px;
  padding-top: 35px;
  padding-bottom: 20px;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

.centered {
  text-align: center;
}

.define p {
  margin-bottom: 5px;
  margin-top: 0;
}

.define h4 {
  margin-bottom: 10px;
  margin-top: 0;
}

.error {
  color: #F66;
  margin: -5px auto 10px auto;
  text-align: center;
}

.cards {
  margin-top: 40px;
  margin-bottom: 60px;
}

.image-wrapper {
  display: inline-block;
  width: 90px;
  height: 90px;
  margin-top: 5px;
  margin-left: 5px;
  background-color: rgba(62, 228, 156, .5);
}

.cards img {
  width: 80px;
  height: 80px;
  margin: 5px;
}

.card {
  box-sizing: border-box;
  padding: 5px;
  box-shadow: 0 0 5px #ddd;
  margin-bottom: 15px;
}

p.company {
  height: 20px;
  max-width: 365px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card div.content {
  display: inline-block;
  margin-left: 10px;
}

.card div.content p {
  margin: 2px 0 4px 0;
}

.card.grid_6:nth-child(odd) {
  margin-left: 0;
}

.card.grid_6:nth-child(even) {
  margin-right: 0;
}

/* Spinner */

#progress-outer {
  width: 256px;
  height: 20px;
  margin-top: 50px;
  overflow: hidden;
  background-color: #e33b7e;
  border-radius: 10px;
}

.progress-bar {
  background-color: #3ee49c;
  margin-top: 0;
  margin-left: -256px;
  animation-name: fill;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 256px;
  height: 20px;
}

@keyframes fill {
  0% {
    margin-left: -256px;
  }

  100%{
    margin-left: 256px;
  }
}

/* Mobile */
@media screen and (max-width : 480px) {
  .hero {
    text-align: center;
    padding-top: 15px;
    height: 320px;
  }

  #love-form {
    width: 100%;
    top: 50px;
    left: 0;
  }

  #about-modal {
    width: 100%;
    top: 50px;
    left: 0;
  }

  .cards {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .cards img {
    display: block;
  }

  .card div.content {
    display: block;
    margin-left: 0;
  }
}
