/* Variables */

:root {
  var-primary:     #F5F5F5;
  var-link:        #e33b7e;

  var-accent:      #e33b7e;
  var-accent-dark: #d43876;

  var-btn-main:    #3ee49c;
  var-btn-dark:    #40d896;
  var-btn:         #403f3f;
}

/* Full width */

a {
  color: var(link);
  text-decoration: none;
}

a:visited {
  color: var(link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

em {
  font-weight: bold;
}

.btn {
  border: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 20px;
  line-height: normal;
  padding: 8px 10px;
  background-color: var(btn-main);
  color: var(btn);
}

.btn:hover {
  background-color: var(btn-dark);
}

a.btn:hover {
  text-decoration: none;
}
a.btn:visited {
  color: var(btn);
}

input[type="text"] {
  border: 1px solid #ccc;
  padding: 6px 4px;
  outline: none;
  font: 13px "Open Sans", sans-serif;
  color: #505050;
  margin: 0;
  width: 210px;
  max-width: 100%;
  display: inline-block;
  margin-bottom: 20px;
  background-color: #fff;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

input[type="text"]:focus {
  border: 1px solid #aaa;
  color: #444;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
}

input[type="submit"] {
  color: #FFF;
}

.full {
  width: 85%;
  text-align: center;
}

.btn.accent {
  background-color: var(accent);
}

.btn.accent:hover {
  background-color: var(accent-dark);
}

.strike {
  text-decoration: line-through;
}

.hero {
  padding-top: 60px;
  height: 250px;
  background-color: #403f3f;
  color: var(primary);
}

.hero p {
  letter-spacing: 1px;
}

.hero h1 {
  margin-bottom: 10px;
}

.hero h2 {
  margin-top: 5px;
  color: #a36de0;
}

#love-form form {
  position: fixed;
  top: 150px;
  left: 40%;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.25);
}

#about-modal {
  position: fixed;
  background-color: #fff;
  width: 960px;
  height: 250px;
  top: 60px;
  padding-top: 35px;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.25);
}

.centered {
  text-align: center;
}

.define p {
  margin-bottom: 5px;
  margin-top: 0;
}

.define h4 {
  margin-bottom: 10px;
  margin-top: 0;
}

/* Mobile */
@media screen and (max-width : 480px) {
  .hero {
    text-align: center;
    padding-top: 15px;
    height: 320px;
  }
  
  #love-form form {
    width: 100%;
    top: 50px;
    left: 0;
  }
  
  #about-modal {
    width: 100%;
    top: 50px;
    left: 0;
  }
}
